body{
    background-color: rgb(233, 229, 229);
}
#logo{
    width: 150px;
    height: 135px;
}
img{
    width: 100%;
}
menu{
    display: flex;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
nav{
    display: flex;
    border: 2px solid black;
}
nav div{
    margin-left: 70px;
    width: 120px;
    height: 90px;
    border-radius: 40px;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    border: 2px solid black;

}
nav div i{
    display: block;
    margin: auto;
}
main{
    margin-left: auto;
    margin-right: auto;
    width:80%;
}
#first{
    width:50%;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border-radius: 90px;
    text-align: center;
    display: flex;
    border: 2px solid black;
    
}
#first div{
    width: 50%;
    margin: auto;
    font-size:large;
}
#middle{
    width:80%;
    height: 460px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border-radius: 90px;
    display: flex;
    border: 2px solid black;
}
#middle p{
    margin: auto;
    font-size:xx-large;
}
#last{
    width:80%;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 50px;
    border-radius: 90px;
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
}

.lastImage{
    width: 80px;
    height: 80px;
    border-radius: 80px;
    margin: auto;
}
#anneeAcademique{
    width: 50%;
    height: 80px;
    border: 2px solid black;
    margin: auto;
    display: flex;
    
}
#anneeAcademique p{
    margin: auto;
}

