<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/eab68dd471.js" crossorigin="anonymous"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static  'account/login.css'%}">
    <link rel="stylesheet" href="../css/bootstrap-5.0.2/bootstrap.min.css">
    <link rel="stylesheet" href="../css/bootstrap-5.0.2/bootstrap-grid.min.css">
    <link rel="stylesheet" href="../css/bootstrap-5.0.2/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="../css/bootstrap-5.0.2/bootstrap-utilities.min.css">
    
    <title>Login</title>
</head>
<body>
    <main>
        <div class="logo">
            <img src="{% static 'account/logo.jpeg' %}" alt="logo">
        </div>
        <form action="#">
            <input type="text" name="id" placeholder="ID" id="">
            <input type="text" name="password" placeholder="PASSWORD" id="">
            <button type="submit">LOG IN</button>
            <div>
                <p>Mot de passe oublie?</p>
            </div>
        </form>
    </main>
    
</body>
</html>